{% extends "email/base.html" %}
{% autoescape on %}

{% block subject %}{{ author_label }} mentioned you on {{ target_label }}{% endblock %}
{% block preheader %}{{ author_label }} mentioned you in a comment on {{ target_label }}.{% endblock %}
{% block brandmark %}{{ organization.name }}{% endblock %}
{% block heading %}You were mentioned on {{ target_label }}{% endblock %}

{% block intro %}
<p style="margin-top:0;margin-bottom:12px;">Hi {{ recipient_name }},</p>
<p style="margin-top:0;margin-bottom:0;"><b>{{ author_label }}</b> mentioned you in a comment on <b>{{ target_label }}</b>.</p>
{% endblock %}

{% block body %}
<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:8px;margin-bottom:8px;">
<tr>
<td align="left" valign="top" bgcolor="#f8f6f1" style="background-color:#f8f6f1;border-left-width:3px;border-left-style:solid;border-left-color:#1a1a1a;font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:normal;color:#1a1a1a;line-height:22px;padding-top:12px;padding-bottom:12px;padding-left:16px;padding-right:16px;white-space:pre-wrap;">{{ body_excerpt }}</td>
</tr>
</table>
{% endblock %}

{% block cta_block %}{% include "email/_cta_button.html" with cta_url=target_url cta_label="Open the thread" %}{% endblock %}

{% block footer %}&mdash; {{ organization.name }}{% endblock %}

{% endautoescape %}
